
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  img {
  max-width:100%;
}

.parallax-container {
      height: 500px;
    }

 .slider .slides {
    background-color: transparent;
    margin: 0;
    height: 400px;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
}


.wrapper{
    margin: 0 auto;
    width: 75%;
    margin-top: 10px;
}
